:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    /* Gradients */
    --light-slate-blue: hsl(252, 100%, 67%); /*Background*/
    --light-royal-blue: hsl(241, 81%, 54%);  /*Background*/
    --violet-blue: hsla(256, 72%, 46%, 1);   /*Circle*/
    --persian-blue: hsla(241, 72%, 46%, 0);  /*Circle*/
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);
}
body {
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    font-family: "Hanken Grotesk", sans-serif;
}
.card {
    background-color: var(--white);
    width: 600px;
    height: 420px;
    border-radius: 40px;
    box-shadow: 9px 10px 36px -3px var(--light-lavender);
    -webkit-box-shadow: 9px 10px 36px -3px var(--light-lavender);
    -moz-box-shadow: 9px 10px 36px -3px var(--light-lavender);
}
.container {
    display: flex;
    justify-content: space-between;
}
.cardresult {
    background: linear-gradient(
    to bottom,
    var(--light-slate-blue),
    var(--light-royal-blue)
  );
    width: 50%;
    height: 420px;
    border-radius: 40px;
}
.cardresult > h3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--light-lavender);
    font-size: 18px;
}
.circle {
    background: linear-gradient(
        to bottom,
        var(--violet-blue),
        var(--persian-blue)
    );
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25%;
}
.circle > h1 {
    color: var(--white);
    font-size: 3.5rem;
    margin-top: 22px;
}
.circle > p {
    color: var(--light-lavender);
    margin-top: -45px;
}
.cardresult > h2 {
    color: var(--white);
    margin-top: 35px;
}
.cardresult > p {
    color: var(--light-lavender);
    margin: 20px 50px 50px;
    font-size: 14px;
}
.summary {
    width: 50%;
    height: 420px;
    border-radius: 40px;
    text-align: left;
}
.results > img {
    margin-top: 25px;
}
.summary > h3 {
    margin: 2rem 2rem 25%;
    font-size: 18px;
}
.rows {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }
.row {
    width: 230px;
    height: 45px;
    margin-top: -45px;
    margin-left: 11%;
    background-color: white;
    border-radius: 10px;
    border-width: 1px;
    border-color: black;
  }
.row:nth-child(1) {
    background: hsla(0, 100%, 67%, 0.2);
}
.row:nth-child(2) {
    background: hsla(39, 100%, 56%, 0.2);
}
.row:nth-child(3) {
    background: hsla(166, 100%, 37%, 0.2);
}
.row:nth-child(4) {
    background: hsla(234, 85%, 45%, 0.2);
}
.btn {
    margin-top: 33px;
    background-color: var(--dark-gray-blue);
    color: var(--white);
    border-style: none;
    border-radius: 50px;
    width: 230px;
    height: 50px;
    margin-left: 11%;
    font-size: 16px;
}
.btn:hover {
    background: linear-gradient(
        to bottom,
        var(--light-slate-blue),
        var(--light-royal-blue)
      );;
}
.results {
    display: flex;
    flex-direction: row;
    margin-left: 6%;
    margin-top: -10px;
    gap: 0.5rem;
}
.results > h4 {
    margin-left: 4%;
    margin-top: 22px;
    font-weight: lighter;
}
.reaction {
    color: var(--light-red);
}
.memory {
    color: var(--orangey-yellow);
}
.verbal {
    color: var(--green-teal);
}
.visual{
    color: var(--cobalt-blue);
}
.row > p {
    margin-left: 69%;
    margin-top: -39px;
    font-weight: bold;
}
.row > p > span {
    color: gray;
    margin-left: 7%;
    font-weight: 500;
}
@media screen and (max-width: 400px) {
    body {
        align-items: flex-start;
        background-color: white;
      }
      .card {
        box-shadow: none;
      }
      .container {
        flex-direction: column;
      }
      .cardresult {
        border-radius: 0 0 40px 40px;
        width: 100%;
        height: 40%;
      }
      .circle {
        margin-left: 30%;
      }
      .cardresult > p {
        width: 260px;
        margin-left: 65px;
      }
      .summary {
        width: 100%;
      }
      .rows {
        margin-top: -20px;
        gap: 4rem;
      }
      .row, .btn {
        width: 78%;
      }
      .summary > h3 {
        margin-left: 11.5%;
      }
      .row > p {
        margin-left: 75%;
      }
}